/* #sbmtbtn{
    position: relative;
    justify-content: left;
    display: flex;
    margin-top: 40px;
    padding: 10px 10px 10px 10px;
    margin-left: 150px;
}

.faram{
    font-size: larger;
    font-family: cursive;
}

.inputans{
    margin-top: 20px;
    padding: 10px 10px;
} */
* {
    margin : 0;
    padding : 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    padding: 20px;
}
#tabs{
    display: flex;
    gap : 50px;
}

.tab{
    padding: 10px 15px;
    background-color: rgb(207, 207, 207) ;
    border: 2px solid #000000;
    border-radius: 5px;
    font-weight: 700;
}

h3{
    display: none;
}