/* #sbmtbtn{
    position: relative;
    justify-content: left;
    display: flex;
    margin-top: 40px;
    padding: 10px 10px 10px 10px;
    margin-left: 150px;
}

.faram{
    font-size: larger;
    font-family: cursive;
}

.inputans{
    margin-top: 20px;
    padding: 10px 10px;
} */


