/* Boiler Plate for CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

/* #sbmtbtn{
    position: relative;
    justify-content: left;
    display: flex;
    margin-top: 40px;
    padding: 10px 10px 10px 10px;
    margin-left: 150px;
}

.faram{
    font-size: larger;
    font-family: cursive;
}

.inputans{
    margin-top: 20px;
    padding: 10px 10px;
} */

/* * {
    margin : 0;
    padding : 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    padding: 20px;
}
#tabs{
    display: flex;
    gap : 50px;
}

.tab{
    padding: 10px 15px;
    background-color: rgb(207, 207, 207) ;
    border: 2px solid #000000;
    border-radius: 5px;
    font-weight: 700;
}

h3{
    display: none;
} */


#capsule{
    width: 300px;
    height: 20px;
    background-color: #dadada;
    border-radius: 100px;
}

#progress{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    width: 0%;
    height: 20px;
    background-color: green;
    border-radius: 100px;
}

#start{
    margin-top: 10px;
    margin-left: 100px;
    padding: 5px 5px;
}

h3{
    display: none;
}